#logo {
    width: 200px;
    height: 200px;
    background-image: url('../assets/holberton-logo.jpg');
    background-size: cover;
}

button {
    display: block;
    margin-top: 20px;
}

#count {
    font-weight: bold;
    margin-left: 20px;
}
