#CourseList {
  width: 100%;
  border-collapse: collapse;
}

#CourseList th, #CourseList td {
  border: 1px solid #ddd;
  padding: 8px;
}

#CourseList th {
  background-color: #f2f2f2;
  text-align: left;
}

#CourseList tr:nth-child(even) {
  background-color: #f9f9f9;
}

#CourseList tr:hover {
  background-color: #ddd;
}

#CourseList th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
}
